/* .card {
    width: 100px;
    height: 200px;
    display: flex;
    flex-direction: column;
    border-style: solid;
    margin: 10px;
}

body {
    display: flex;
    flex-wrap: wrap;
} */

.container {
    display: flex;
    justify-content: space-around;
}

#albums li {
    height: 20px;
}
#albums li:hover {
    cursor: pointer;
    background-color: brown;
}